// NutriPlanner colors
$rose: #FFC2DE;
$ruby: #D81E5B;
$aero-blue: #B8F2E6;
$yellow: #F3D053;
$blue: #3cb0f9;
$white: #FFFFFF;

// Theme color default definitions
$primary: $blue !default;
$secondary: $rose !default;
$tertiary: $aero-blue !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
$light: $white !default;
// $dark: $gray-800 !default;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'tertiary': $tertiary,
    // 'success': $success,
    // 'info': $info,
    // 'warning': $warning,
    // 'danger': $danger,
    'light': $light,
    // 'dark': $dark
  ),
  $theme-colors
);

// This table defines the theme colors (variant names)
$body-bg: rgb(250, 250, 250);
$body-color: rgb(40, 40, 40);
