// NutriPlanner colors
$purple: #8463f3;
$rose: #FFC2DE;
$ruby: #e44d7f;
$aero-blue: #B8F2E6;
$smooth-purple: #e1dbf3;
$yellow: #F3D053;
$blue: #3cb0f9;
$white: #FFFFFF;
$green: #4bc7a4;
$background-color: rgb(250, 250, 250);
$text-color: rgb(40, 40, 40);
